# https://git-scm.com/docs/gitattributes
# https://github.com/gitattributes/gitattributes

[attr]lfs         filter=lfs diff=lfs merge=lfs -text

*                 text=auto eol=lf
*.csv             text eol=crlf
*.doc*            lfs
*.jp*g            binary
*.pdf             lfs
*.png             binary
*.ppt*            lfs
*.tar*            lfs
*.xls*            lfs
*.zip             lfs
